#mapa {
    width: 100%;
    height: 100%;
}
html, body {
   height: 100%;
   margin: 0;
}
.kredituak {
    position: absolute;
    bottom: 20px;
    left: 0px;
    z-index: 1;
    background-color: #fff;
    width: 170px;
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 5px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}
.kredituak #iametza {
    width: 100px;
}
.kredituak #egilea {
    padding-bottom: 3px;
    padding-top: 3px;
}
.kredituak a {
    color: #333;
}
